<h1>Quick Post</h1>

<ul>
<% @entries.each do |entry| %>
<li>
<h4><%= entry.title %></h4>
<p><%= entry.body %></p>
</li>
<% end %>
</ul>


<%= form_for @entry do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
